.nav-principal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  font-size: 1.5rem; /* Tamaño del texto del logo */
  font-weight: bold;
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: black; /* Color de los enlaces */
  font-weight: normal;
}
.links a:hover {
  text-decoration: underline; /* Subrayado al pasar sobre los enlaces */
}
.image-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
  margin-right: 10px; /* Espacio entre el logo y el texto del nombre */
}
.title-home {
  font-size: 48px;
  font-weight: bold;
}
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:space-between ;
  margin: 20px;
  gap: 15px;
}

.section-reviews {
margin: 20px;
width: 100%;
}

.main-reviews {
  display: flex;
  flex-direction: row;
  align-items: space-around;    
  gap: 30px;  
  justify-content: center;
margin: 40px;
}
.content-reviews {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 0px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 10px
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}