* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background-color);
  margin-right: 4rem;
  margin-left: 4rem;
  color: var(--text-color);
  /*background: linear-gradient(to right, #F7F7F7, #F5F5F5);*/
  /* Gradiente de gris claro a blanco humo */
  line-height: 1.6;
  height: 100%;
}
.content-body {
  display: flex;
  width: 100%;
}
.content-child {
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
}
.nav-principal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
  position: sticky;
  top: 0;
  padding: 2.5rem 5rem;
  margin-bottom: -116px;
  font-size: 14px;
  /* box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.1); */
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
}

a:hover {
  text-decoration: underline;
}

.page {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
  background: var(--main-color);
  height: 100%;
}

.image-logo {
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  margin-right: 10px;
  max-width: 100%;
}

.title-home {
  font-size: 47px;
  font-weight: bold;
  text-align: left;
}

.title-content {
  font-size: 47px;
  font-weight: bold;
  text-align: left;
  margin: 10rem 0 0;
}

.text-home {
  color: #666;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 14rem 0 0;
}

.home-section-content {
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 12rem 0 12rem 0;
}

.main-projects,
.main-experience,
.main-education {
  flex: 1;
  opacity: 1;
  min-width: 300px;
  border: 1px solid rgba(63, 63, 70, 0.4);
  padding: 20px;
  border-radius: 1rem;
}

.main-projects:hover,
.main-experience:hover,
.main-education:hover,
.content-reviews:hover {
  box-shadow: var(--box-shadow-dark);
  transition: all 0.5s ease;
}

h2 {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: none;
  --tw-text-opacity: 1;
  color: var(--link-color, var(--tw-text-opacity));
}

.visit-profile {
  font-size: 14px;
  padding: 5px;
  color: #0070f3;
}

.visit-profile:hover {
  background: var(--link-background);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.main-projects p {
  margin-bottom: 10px;
}

.main-experience article {
  margin-bottom: 20px;
}

.main-experience h3 {
  margin-bottom: 5px;
  color: #a1a1a1;
}

.section-reviews {
  padding: 20px;
  font-family: Arial, sans-serif;
  padding-bottom: 8rem;
}

.main-reviews {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.content-reviews {
  flex: 1;
  border-radius: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}

.content-reviews p {
  margin: 0;
  font-style: italic;
}

.professor-reviews {
  margin-top: 10px;
  text-align: right;
}

.professor-name {
  display: block;
  color: #333;
  font-weight: bold;
}

.professor-title {
  display: block;
  color: #888;
  font-size: 0.9em;
}

.form-style {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;
}

.footer {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
  font-size: 0.8em;
  color: #888;
  width: 100%;
  border-top: 1px solid var(--border-footer);
  background-color: var(--main-color);
  /* box-shadow: var(--border-footer); */
  /* --tw-border-opacity: 1;
  border-color: rgb(--border-footer / var(--tw-border-opacity)); */
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.burger {
  width: 30px;
  height: 3px;
  display: block;
  position: relative;
  background-color: var(--menu-color);
  margin: 5px auto;
  /* Espaciado entre las líneas */
  transition: background-color 0.3s;
  /* Transición suave para el color */
}

.burger::before,
.burger::after {
  content: "";
  width: 25px;
  position: absolute;
  left: 0;
  background-color: var(--menu-color);
}

.burger::before {
  top: -8px;
}

.burger::after {
  top: 8px;
}

/* Media Queries for Responsive layout */

@media (width <=810px) {
  /* Media Queries for navigation navbar */

  body {
    margin: 0;
  }

  .nav-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .menu-toggle {
    display: block;
    transition: transform 0.3s ease;
  }

  .menu {
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.8s ease;
    opacity: 0;
  }

  .menu.active {
    max-height: 300px;
    opacity: 1;
  }

  /* Media Queries for Page*/

  .section-reviews .main-reviews {
    flex-direction: column;
    align-items: center;
  }

  .content-reviews {
    min-height: auto;
    margin-bottom: 20px;
  }

  .main-reviews {
    flex-direction: column;
    gap: 10px;
  }

  .content-reviews {
    width: 100%;
    margin-bottom: 10px;
  }

  .professor-reviews {
    text-align: center;
  }
}

/* Modo Claro (por defecto) */
:root {
  --background-color: #fafafa;
  --text-color: #171717;
  --header-background: #fff;
  --menu-color: #171717;
  --main-color: #fff;
  --link-color: #666;
  --link-background: #e5e0e0;
  --box-shadow-dark: 0 2px 30px rgba(0, 0, 0, 0.1);
  --border-footer: rgba(244 244 245);
}

/* Modo Oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --text-color: #f7f7f7;
    --header-background: #18181b;
    --menu-color: #f7f7f7;
    --main-color: #18181b;
    --link-color: #888;
    --link-background: #333;
    --border-footer: rgba(63, 63, 70, 0.4);
    --box-shadow-dark: 0 2px 10px rgba(255, 255, 255, 0.1);
    /* Sombra para el modo oscuro */
  }
}
