* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 40px;
  text-align: center;
  max-width: 900px;
}

h1 {
  margin-bottom: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
  color: gray;
  margin-bottom: 48px;
}

.timeline {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  left:183px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: black;
}
.event {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.date {
  flex: 0 0 140px;
  text-align: right;
  color: gray;
  font-size: 14px;
  padding-right: 5px;
}

.dot {
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  margin: 0 26px;
  z-index: 1;
  flex-shrink: 0;
  position: relative;
  left: 11px; 
}

.description {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.button {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-top: 20px;
}

.button:hover {
  background-color: gray;
}

@media (width <=380px) {
  /* Media Queries for navigation navbar */

  body {
    height: 100%;
  }
}